@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* IMPORTA UMA FONTE */


* { /* SIGNIFICA QUE TUDO OQUE ESTIVER NO HTML VAI SEGUIR ESSAS CARACTERISTICAS*/
    margin: 0px;
    padding: 0px; /* MARGEM */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{     /* SIGNIFICA A RAIZ DO ARQUIVO */
    --color-white: #fff;
    --color-pink: #d12f7a;          /* VARIAVEIS DE COR */
    --background-green: rgb(110, 164, 126);
    --font-green: rgb(82, 122, 94);
}

body {

    background-color:  var(--background-green); /* COR DA PAGINA ONDE ESTA A LOGO */

    margin: 0 auto;

}

/* HEADER -- Cabeçalho da pagina*/
header{

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around; /* SEPARA EM COLUNAS as linhas h2...*/
}

header h1 {

    color: var(--color-white) ;
    font-size: 2.5rem;
    font-weight: 100;


}


header .navegacao-primaria{

    display: flex;
    gap: 5px;
    align-items: center; /* CENTRALIZA O CONTEUDO */

}

header .navegacao-primaria li a{

    padding: 5px;
    color: #fff;
    font-size: 1rem; /* TAMANHO DA FONTE*/

}

.section-div {

    animation: inicializar .7s forwards;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div div {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 3px;
}

.section-div div h2 {
    font-family: 'Poppins';
    font-weight: 500;
    color: #f7f7f7;
}

.section-div div h3 {
    font-family: 'Poppins';
    font-weight: 500;
    color: #f7f7f7;
    font-size: 3rem;
    
}

.section-div div p {

    font-family: 'Poppins';
    font-weight: 100;
    color: #f7f7f7;

}

.section-div a {

    justify-self: start;
    color: #f7f7f7;
    padding: 15px 40px;
    border-radius: 5px;
    border: 2px solid white;
}

.section-div img {

    max-width: 100%;/* DIMINUI TAMANHO DA IMAGEM*/

}


/* CODIGO PARA DAR EFEITO AO ABRIR OU ATUALIZAR A PAGINA */
@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}

/* SEÇÃO PRINCIPAL SOBRE A EMPRESA */

main {
    background-color: white;
    color: rgb(74, 110, 84);
    margin: 0 auto;
}

main .sobre {

    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 30px;
    justify-content: center;
    padding: 40px;

}

main .sobre-informacoes {

    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    justify-content: center;
    padding: 25px;
}

main .sobre .sobre_titulo{
    
    font-size: 1.5rem;
    
}

.section-div-servico {

    animation: inicializar .7s forwards;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div-servico div {

    align-self: start;
    display: grid;
    gap: 3px;
}

.section-div-servico div p {

    font-family: 'Poppins';
    font-weight: 100;
    color: var(--font-green);

}

.section-div-servico div h1 {

    padding: 10px;
    color: rgb(50, 78, 58);
    font-size: 2.6rem;
}


.servico .section-div-servico img {

    max-width: 100%;/* DIMINUI TAMANHO DA IMAGEM*/

}


.section-div-contato {

    animation: inicializar .7s forwards;
    background-color: var(--background-green);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
}

.section-div-contato div {

    align-self: start;
    display: grid;
    gap: 3px;
    color: white;
}

.section-div-contato div p {

    font-family: 'Poppins';
    font-weight: 100;
    color: white;

}

.section-div-contato div h1 {

    padding: 10px;
    color: white;
    font-size: 2.6rem;
}


main .section-div-contato .contato_titulo h1{

    text-align: center;

}
main .section-div-contato .row {
    
    padding: 0 20px;
    display: table;
    width: 100%;
    background-color: var(--background-green);

}

main .section-div-contato form {
    background-color: var(--background-green);
    
    margin: 0 auto;
    font-family: 'Poppins';
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main .section-div-contato label {
    font-weight: bold;
    color: var(--font-green);

}

main .section-div-contato input[type="text"],
input[type="email"],
textarea {
    color: #4CAF50;
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 44px;
    box-sizing: border-box;


}

main .section-div-contato input[type="submit"] {

    background-color: #4CAF50;
    color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 44px;
    cursor: pointer;

}

input[type="submit"]:hover {
    background-color: #45a049;
    
}

main .section-div-contato{

    background-color: var(--background-green);

}

